/* You can add global styles to this file, and also import other style files */
body,html,app-root{
  height: 100%;
  min-height: 100%;
  background: rgb(2,0,36);
  background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 0%, rgba(2,15,138,1) 0%, rgba(9,176,72,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 0%, rgba(2,15,138,1) 0%, rgba(9,176,72,1) 100%);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 0%, rgba(2,15,138,1) 0%, rgba(9,176,72,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#09b048",GradientType=1);
}
